body {
    padding-bottom: 20px;
    padding-top: 90px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

.navbar-inverse {
    background-color: #3b5998;
    border-bottom: 1px solid #29487d;
    color: #fff;
}

.navbar-inverse .navbar-brand { color: #fff; }

.navbar-inverse .navbar-nav > li > a { color: #fff; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #152e63;
    color: #ffffff;
}
 label.alert {
     width: 100%;
     font-weight: normal
 }
 .field-validation-error {
     color: red;
 }
.gigs { list-style: none; }

.gigs > li {
    margin-bottom: 30px;
    position: relative;
}

.gigs > li .date {
    -ms-border-radius: 8px;
    background: red;
    border-radius: 8px;
    color: white;
    text-align: center;
    width: 60px;
}

.gigs > li .date .month {
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
    text-transform: uppercase;
}

.gigs > li .date .day {
    background: #f7f7f7;
    color: #333;
    font-size: 20px;
    padding: 6px 12px;
}

.gigs > li .details {
    left: 70px;
    position: absolute;
    top: 0;
}

.gigs > li .details .artist {
    display: block;
    font-weight: bold;
}

.gigs > li .details .genre { font-size: 15px; }